---
import { frontmatter as homepage } from '../content/homepage.md'
import ImageCard from '../components/ImageCard.astro';

import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import HeroHome from '../components/HeroHome.astro';

import "../styles/global.css";

const realisations = await getCollection("realisations");

---

<Layout>
  <div class="flex gap-12 md:gap-16 flex-col justify-center items-center">
      <HeroHome 
        title={homepage.title} 
        description={homepage.description} 
        hero_image_before={homepage.hero_image_before} 
        hero_image_after={homepage.hero_image_after} 
      />
      <div class="max-w-7xl">
        <!-- Réalisations mises en avant -->
        <section class="py-16 px-4 flex flex-col gap-6">
          <div class="flex flex-col gap-4">
            <h2 class="text-3xl">{homepage.featured_realisations.title}</h2>
            <p class="text-lg max-w-xl">{homepage.featured_realisations.description}</p>
            <a href="/realisation" class="border-b px-1 w-max">
              En savoir plus →
            </a>
          </div>

          <ul class="md:grid hidden grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {realisations
              .filter((realisation: any) => 
                homepage.featured_realisations.items.includes(realisation.data.title)
              )
              .map((realisation: any) => (
                <li key={realisation.slug}>
                  <ImageCard realisation={realisation} />
                </li>
              ))}
          </ul>

          <ul class="grid grid-cols-1 md:hidden md:grid-cols-2 lg:grid-cols-3 gap-6">
            {realisations
              .filter((realisation: any) => 
                homepage.featured_realisations.items.includes(realisation.data.title)
              )
              .splice(0, 2)
              .map((realisation: any) => (
                <li key={realisation.slug}>
                  <ImageCard realisation={realisation} />
                </li>
              ))}
          </ul>
        </section>

        <!-- Engagements -->
        <section class="py-16 flex flex-col px-4">
          <div>
            <h2 class="text-3xl ">{homepage.engagements.title}</h2>
            <p class="mt-4 text-lg max-w-sm">{homepage.engagements.description}</p>
          </div>
          <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2  gap-6 mt-6">
            {homepage.engagements.items.map((item: { block_title: string; block_description: string; }) => (
              <li class="p-6 bg-[#212529] rounded-3xl text-white md:p-8">
                <h3 class="text-2xl font-light">{item.block_title}</h3>
                <p class="mt-6 text-lg max-w-lg">{item.block_description}</p>
              </li>
            ))}
          </ul>
        </section>

        <!-- Expertises -->
        <section class="py-16 px-4">
          <h2 class="text-3xl mb-4">{homepage.expertises.title}</h2>
          <ul class="divide-y divide-gray-300">
            {homepage.expertises.items.map((item: { block_title: string; block_description: string; }, index: number) => (
              <li class="py-6" key={index}>
                <button class="flex justify-between items-center w-full text-left" id={`button-${index}`} onclick={() => toggleItem(index)}>
                  <h3 class="text-2xl font-light">{item.block_title}</h3>
                  <p id={`arrow-${index}`} class="text-gray-400 text-3xl font-light transition-transform duration-300">↑</p>
                </button>
                <p id={`desc-${index}`} class="text-gray-600 text-lg mt-4 max-w-lg hidden">{item.block_description}</p>
              </li>
            ))}
          </ul>
        </section>

        <!-- Équipe -->
        <section class="py-16 px-4 grid grid-cols-1 md:grid-cols-2 justify-between gap-6">
          <div class="w-full flex flex-col gap-6">
            <h2 class="text-3xl">{homepage.equipe.title}</h2>
            <p class="text-lg max-w-lg">{homepage.equipe.description}</p>
          </div>
          <div>
            <img src={homepage.equipe.image} alt="Équipe" class="w-full rounded-3xl" />
          </div>
        </section>

        <!-- Certifications et Assurances -->
        <section class="py-16 px-4 flex flex-col gap-6">
          <h2 class="text-3xl">{homepage.certifications.title}</h2>
          <ul class="flex flex-col lg:flex-row align-justify gap-6">
            {homepage.certifications.items.map((item: { block_image: string | null | undefined; block_title: string; block_description: string; }) => (
              <li class="p-6 md:p-8 w-full flex flex-col justify-between text-white gap-4 rounded-3xl bg-[#212529]">
                <img src={item.block_image} alt={item.block_title} class="w-full h-full min-h-24 max-h-36 object-cover rounded-3xl" />
                <p class="mt-2 text-lg">{item.block_description}</p>
              </li>
            ))}
          </ul>
        </section>

      </div>
    </div>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Sélectionner tous les boutons par leur ID
    const buttons = document.querySelectorAll("button[id^='button-']");
    
    buttons.forEach((button, index) => {
      button.addEventListener("click", function() {
        toggleItem(index);
      });
    });
  });

  // Fonction pour afficher/masquer la description et tourner la flèche
  function toggleItem(index: number) {
    const desc = document.getElementById(`desc-${index}`);
    const arrow = document.getElementById(`arrow-${index}`);
    
    if (!desc || !arrow) {
      console.error("L'élément n'a pas été trouvé !");
      return;
    }
    
    // Toggle la classe hidden pour la description
    desc.classList.toggle("hidden");
    
    // Toggle la classe rotate-180 pour la flèche
    arrow.classList.toggle("rotate-180");
  }
</script>