---
import { frontmatter as homepage } from '../content/homepage.md'
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
console.log(homepage);


---

<Layout>
  <main class="px-4">
    <!-- Hero Section -->
    <section class="text-center py-16">
      <h1 class="text-4xl font-bold">{homepage.title}</h1>
      <p class="mt-4 text-lg">{homepage.description}</p>
      <img src={homepage.hero_image} alt="Image principale" class="mt-6 mx-auto w-full max-w-4xl rounded-lg shadow-md" />
    </section>

    <!-- Réalisations mises en avant -->
    <section class="py-16">
      <h2 class="text-3xl font-semibold">{homepage.featured_realisations.title}</h2>
      <p>{homepage.featured_realisations.description}</p>
      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-6">
        {homepage.featured_realisations.items.map((realisation: any) => (
          <li class="p-4 bg-gray-100 rounded-lg shadow-md text-center">{realisation}</li>
        ))}
      </ul>
    </section>

    <!-- Engagements -->
    <section class="py-16">
      <h2 class="text-3xl font-semibold">{homepage.engagements.title}</h2>
      <p>{homepage.engagements.description}</p>
      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 mt-6">
        {homepage.engagements.items.map((item: { block_title: string; block_description: string; }) => (
          <li class="p-4 bg-white border-l-4 border-blue-500 rounded-md shadow-md">
            <h3 class="font-bold">{item.block_title}</h3>
            <p class="mt-2">{item.block_description}</p>
          </li>
        ))}
      </ul>
    </section>

    <!-- Expertises -->
    <section class="py-16">
      <h2 class="text-3xl font-semibold">{homepage.expertises.title}</h2>
      <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 mt-6">
        {homepage.expertises.items.map((item: { block_title: string; block_description: string; }) => (
          <li class="p-4 bg-gray-100 rounded-md shadow-md">
            <h3 class="font-bold">{item.block_title}</h3>
            <p class="mt-2">{item.block_description}</p>
          </li>
        ))}
      </ul>
    </section>

    <!-- Équipe -->
    <section class="py-16 px-4 md:px-8 flex flex-col md:flex-row justify-between  gap-4">
      <div class="w-full">
        <h2 class="text-3xl font-semibold">{homepage.equipe.title}</h2>
        <p class="text-lg mt-2 max-w-lg">{homepage.equipe.description}</p>
      </div>
      <img src={homepage.equipe.image} alt="Équipe" class="w-full aspect-16/9 rounded-3xl" />
    </section>

    <!-- Certifications et Assurances -->
    <section class="py-16 px-4 md:px-8">
      <h2 class="text-3xl font-semibold">{homepage.certifications.title}</h2>
      <ul class="flex flex-col lg:flex-row align-justify gap-6">
        {homepage.certifications.items.map((item: { block_image: string | null | undefined; block_title: string; block_description: string; }) => (
          <li class="p-6 md:p-8 text-white rounded-3xl bg-[#212529]">
            <img src={item.block_image} alt={item.block_title} class="w-full min-h-24 max-h-36 object-cover rounded-3xl" />
            <p class="mt-2">{item.block_description}</p>
          </li>
        ))}
      </ul>
    </section>
  </main>
</Layout>