---
import { frontmatter as realisation } from '../content/realisations.md'
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Header from '../components/Header.astro';
import ImageCard from '../components/ImageCard.astro';

const realisations = await getCollection("realisations");
---

<Layout>
    <main>
        <Header />
        <Hero 
            title={realisation.title} 
            description={realisation.description} 
            hero_image={realisation.hero_image}
        />
        <section class="py-16 flex items-center justify-center">
            <div class="max-w-7xl w-full">
                <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 px-4 gap-6">
                    {realisations.map((realisation: any) => (
                        <li key={realisation.slug}>
                            <ImageCard realisation={realisation} />
                        </li>
                    ))}
                </ul>
            </div>
        </section>
    </main>
</Layout>