---
import { getCollection, getEntryBySlug } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Hero from '../../components/Hero.astro';

// 1. Génére un nouveau chemin pour chaque entrée de collection
export async function getStaticPaths() {
    const posts = await getCollection('realisations');
    return posts.map((post) => ({
        params: { realisation: post.slug },
        props: { post },
    }));
}

// 2. Pour votre modèle, vous pouvez obtenir l'entrée directement à partir de la propriété
const { realisation } = Astro.params;
const post = await getEntryBySlug('realisations', realisation);
console.log(post.data.caracteristiques);
---
<Layout>
    <main>
        <div class="flex gap-12 md:gap-16 flex-col justify-center items-center">
        <!-- Hero Section -->
        <Header />
        <Hero 
            title={post.data.title} 
            description={post.data.description} 
            hero_image={post.data.hero_image} 
        />
        <div class="max-w-7xl w-full">
            <section class="py-16 px-4">
                <h2 class="text-3xl my-8">Caractéristiques</h2>
                <div class="flex flex-col gap-4">
                    {post.data.caracteristiques.map((item: { block_title: string, block_value: string }) => (
                        <p class="max-w-2xl"><span class="font-semibold">{item.block_title}</span> : {item.block_value}</p>
                    ))}
                </div>
            </section>
            <section class="pb-16 px-4">
                <h2 class="text-3xl my-8">Galerie</h2>
                
                <!-- Parcours chaque "post" dans le tableau -->
                {post.data.gallery.map((gallery: { block_title: string; images: any[]; }) => (
                    <div>
                        <h3 class="text-2xl my-4">{gallery.block_title}</h3>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        {gallery.images.map((image: { image: string | null | undefined; }) => (
                            <img src={image.image} alt="Image de la galerie" class="w-full aspect-1/1 rounded-3xl object-cover" />
                        ))}
                        </div>
                    </div>
                ))}
            </section>
        </div>
        </div>
    </main>
    
</Layout>